:root {
  --grey: #666666;
  --de-cre-button: #F0EFED;
  --product-border: #B2B2B2;
  --product-section: #F7F7F6;
  --sub-total-row: #F0EFED;
  --light-black: #222;
  --light-grey: #6C6770;
  --paypal: #FFC439;
  --venmo: #3D95CE;
}

body {
  background: var(--food-menu);
}

h3 {
  font-size: 1.2rem;
}

p {
  margin: 0 0 .2em 0;
}

.container {
  max-width: 500px;
}

.checkout-section {
  margin-top: 4em;
  padding: 2em 0;
}

.page-title {
  font-size: 1.5rem;
  border-bottom: 1.5px solid var(--grey);
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.grey {
  color: var(--grey);
}

.checkout-grid {
  display: grid;
}

.cart-dish-container {
  padding: 1em;
  background: #fff;
  border: 1px solid var(--grey);
  margin-bottom: 1em;
}

.cart-dish-top {
  border-bottom: 2px solid var(--product-section);
}

.counter-box {
  display: flex;
  width: 100%;
  max-width: 105px;
  height: 30px;
  border: none;
  overflow: hidden;
  margin-bottom: 1.25em;
}

.counter-box button {
  width: 35px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  background: var(--de-cre-button);
}

.counter-box button:active {
  background: var(--btn-active);
  transition: background 100ms ease-in-out;
}

.counter-num {
  width: 35px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 0.813rem;
  border: 1px solid var(--grey);
  text-align: center;
}

.total-amount {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .65em;
}

.cart-dish-main h3 {
  font-size: 1rem;
}

.dish-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

.dish-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.destination {
  display: flex;
}

.destination i {
  color: var(--product-border);
  font-size: 1rem;
}

i.fa-solid.fa-location-dot {
  width: 20px;
}

.delivery-option {
  display: flex;
  gap: 8px;
  margin-bottom: .25em;
}

.delivery-option input {
  margin: 0;
}

.save-remove-btn {
  border-top: 2px solid var(--product-section);
  margin-top: 1.313em;
  display: flex;
}

.save-remove-btn button {
  flex: 1;
  border-top: none;
  border-bottom: none;
  border-left: none;
  background: transparent;
  cursor: pointer;
}

.save-remove-btn i {
  color: var(--product-border);
  margin-right: 28px;
  padding-top: .2em;
  opacity: .5;
}

.remove-btn {
  border-right: 2px solid var(--product-section);
}

.save-btn {
  border-right: none;
}

.payment-summary {
  grid-row: 1;
  margin-bottom: 1.5em;
  background: #fff;
  padding: 2em;
  border: 1.5px solid var(--grey);
}

.cart-summary {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  margin-bottom: .5em;
}

.cart-summary i {
  font-size: 1rem;
  color: black;
}

i.fa-solid.fa-lock {
  width: 30px;
  padding-top: 3px;
}

.payment-summary-top {
  padding-bottom: 1em;
  border-bottom: 2px solid var(--light-black);
}

.payment-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2em;
}

.sub-total-row p {
  padding-top: .75em;
}

.sub-total-row .payment-summary-money {
  border-top: 2px solid var(--sub-total-row);
}

.total-row {
  border-top: 2px solid var(--sub-total-row);
}

.total-row p {
  font-size: 1.125rem;
  color: red;
  font-weight: bold;
}

.total-row p {
  padding-top: .75em;
}

.payment-summary-money {
  font-weight: bold;
}

.payment-summary-middle {
  margin-top: 1.5em;
  padding-bottom: 1.75em;
  border-bottom: 2px solid var(--light-black); 
}

.promotion-title {
  font-size: 1.125rem;
  margin-bottom: .2em;
}

.promotion-note {
  line-height: 1.2;
  margin-bottom: .75em;
  color: var(--light-grey);
}

.input-wrapper {
  display: flex;
  gap: .75em;
  margin-bottom: 2em;
}

.promotion-input {
  width: 100%;
  height: 35px;
  border-radius: 0px;
  border: 1px solid var(--grey);
}

.promotion-apply-btn {
  background: transparent;
  border: 2px solid var(--grey);
  padding: .5em .75em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--grey);
  font-weight: bold;
  transition: all 100ms linear;
}

.promotion-apply-btn:hover {
  background: var(--grey);
  color: #fff;
}

.checkout-now-btn {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: .5em;
  background: var(--light-black);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: bold;
  transition: all 100ms linear;
  margin-bottom: .5em;
}

.checkout-now-btn:hover {
  background: transparent;
  color: black;
  border: 2px solid black;
}

.agree-privacy {
  color: var(--light-grey);
  line-height: 1.2;
}

.agree-privacy a {
  text-decoration: underline;
  color: var(--light-black);
}

.payment-summary-bottom {
  text-align: center;
  margin-top: 1.5em;
}

.other-checkout {
  color: var(--light-grey);
  margin-bottom: .5em;
}

.payment-summary-bottom button {
  display: block;
  border-radius: 4px;
  padding: .5em 5em;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
}

.payment-summary-bottom button:hover {
  opacity: .9;
}

.payment-summary-bottom .paypal-btn {
  border: 1px solid var(--paypal);
  background: var(--paypal);
  margin-bottom: 1em;
}

.paypal, .venmo {
  object-fit: cover;
  height: 15px;
  width: 80px;
}

.venmo-btn {
  border: 1px solid var(--venmo);
  background: var(--venmo);
}

.venmo {
  margin-top: 3px;
}

@media (min-width: 500px) {
  .cart-dish-main {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 1em;
  }

  .delivery-detail {
    margin-top: 1.5em;
  }

  .delivery {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 700px) {
  .checkout-section {
    padding: 4em 0;
  }

  .cart-dish-top {
    display: flex;
    justify-content: space-between;
  }

  .dish-title {
    width: 165px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 1100px;
    width: 95%;
  }

  .checkout-grid {
    grid-template-columns: 1fr 360px;
    gap: 1em;
  }

  .dish-title {
    width: 250px;
  }

  .payment-summary {
    grid-row: initial;
    height: 700px;
    position: sticky;
    top: 13%;
  }

  .split-section {
    display: flex;
    justify-content: space-between;
  }

  .cart-dish-main {
    grid-template-columns: 150px repeat(2, 1fr);
  }

  .dish-img {
    height: 120px;
    width: 120px;
  }

  .delivery {
    grid-column: 3;
    margin-top: 1.5em;
  }

  .cart-dish-bottom {
    border-left: 2px solid var(--product-section);
    width: 50px;
  }

  .save-remove-btn {
    height: 100%;
    flex-direction: column;
    border-top: none;
    margin-top: 0;;
  }

  .save-remove-btn i {
    margin-right: 0;
    font-size: 1.75rem;
    padding-top: .35em;
    padding-right: .5em;
  }

  .save-remove-btn .remove-btn {
    border-right: none;
    border-bottom: 2px solid var(--product-section);
  }

  .save-btn {
    border-top: 2px solid var(--product-section);
  }
  .payment-summary-bottom button {
    width: initial;
  }
}