.order-section {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
  margin-top: 3.5em;
  padding: 3.25em 0;
}

.order-container {
  max-width: 380px;
  width: 90%;
  margin: 0 auto;
}

.order-section__title {
  color: #fff;
  margin-bottom: 1em;
  text-align: center;
} 

.order-section__form {
  display: block;
  margin-bottom: 3.75em;
}

fieldset {
  border: 1.3px solid #fff;
  border-radius: 10px;
  margin-bottom: 1em;
}

fieldset:nth-child(2) {
  padding: 1em;
}

.selected-box {
  display: flex;
  gap: 1.5em;
}

.order-section__img {
  max-width: 120px;
  height: 120px;
  border-radius: 15px;
}

.order-section__desc {
  font-size: 0.875rem;
}

.selected-food-title {
  margin: .5em 0 .25em 0; 
  font-size: 1.125rem;
}

.selected-food-price {
  margin: 0 0 .25em 0;
}

.order-label {
  margin-bottom: .5em;
}

.quantity-selector {
  padding: .12em;
  border-radius: 8px;
  width: 45px;
  font-size: .875rem;
}

input {
  width: 100%;
  margin-bottom: 3%;
  border-radius: 5px;
  border: none;
  padding: 1.5%;
}

textarea {
  width: 100%;
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 1.5%;
  resize: none;
}

@media (min-width: 700px) {
  .order-section {
    padding: 4.75em 0;
  }
}